@import './base.css';

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

::-moz-selection,
::selection
{
  background-color: var(--color-primary);
  color: white;
}

#nprogress .bar {
  background: var(--color-primary) !important;
  height: 3px !important;
}

main {
  min-height: calc(100vh - 80px - 80px); /* screen height - navbar- footer */
}