/*
  Code stylesheet.
*/

.code {
  color: gainsboro;
  background-color: #1d1d1d;
  white-space: pre-wrap;
  overflow: auto;
  font-family: 'Code';
  font-size: 15px;
  border-style: solid;
  border-color: rgb(90, 90, 90);;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline_code {
  color: gainsboro;
  background-color: rgb(24, 24, 24);
  white-space: pre-wrap;
  overflow: auto;
  font-family: 'Code';
  border-style: none;
  border-color: transparent;
  border-width: 0px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  display: inline-flex;
  position: inline-block;
  padding: 4px;
}
