/*
  Code stylesheet.
*/

.code {
  color: rgb(235, 235, 235);
  background-color: #1d1d1d;
  white-space: pre-wrap;
  overflow: auto;
  font-family: 'Code';
  font-size: 15px;
  border-style: solid;
  border-color: rgb(60, 60, 60);
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline_code {
  color: gainsboro;
  background-color: #1d1d1d;
  white-space: pre-wrap;
  overflow: auto;
  font-family: 'Code';
  border-style: solid;
  border-color: rgb(40, 40, 40);
  border-width: 1px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  display: inline-flex;
  position: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}
