/*
  Main theme stylesheet.
*/

html {
  position: relative;
  max-width: 100%;
  min-height: 100%;
}

body {
  position: content;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);
  font-family: 'OpenSans-Light';
  font-size: medium;
  overflow: auto;
  /* Padding for footer height. */
  padding-bottom: 300px;
}
