/*
  User interface things stylesheet.
*/

.body-div {
  position: content;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'OpenSans-Light';
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.sub-title {
  font-family: 'OpenSans-Light';
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.sub-sub-title {
  font-family: 'OpenSans-Light';
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.title-separator {
  margin-top: 50px;
}

.content-body {
  margin-left: 10%;
  margin-right: 10%;
}

.text {
  font-family: 'OpenSans-Light';
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.line-section {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 150px;
  left: 0px;
  right: 0px;
  position: absolute;
  display: block;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section {
  max-width: 1200px;
  color: rgb(255, 255, 255);
  background-color: slategray;
  height: 500px;
  display: flex;
  font-family: 'OpenSans-Light';
  font-weight: normal;
  font-size: 18px;
  border-radius: 20px;
}

.topic-separator {
  background-color: rgb(100, 100, 100);
  user-select: none;
  height: 1px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

button {
  font-family: 'OpenSans';
  font-style: normal;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 80, 90);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 250ms;
  user-select: none;
}

button:hover {
  transition: 250ms;
  background-color: slategray;
}

#side-navigation {
  width: 280px;
  min-width: 280px;
  height: calc(100% - 41px);
  margin-right: auto;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  position: fixed;
  user-select: none;
  left: 0px;
  top: 0px;
  right: 0px;
}

#side-navigation .topic {
  color: rgb(189, 189, 189);
  background-color: transparent;
  text-decoration: none;
  width: 100%;
  height: fit-content;
  text-align: left;
  padding: 4px;
  padding-right: 0px;
  font-family: 'OpenSans-Light';
  font-size: medium;
  font-weight: bold;
  user-select: none;
  margin-bottom: 0px;
}

#side-navigation * {
  transition: 0ms;
  display: inline-block;
}

#side-navigation .topic:hover {
  color: white;
  cursor: pointer;
}

#side-navigation .sub-topic {
  color: rgb(189, 189, 189);
  background-color: transparent;
  text-decoration: none;
  width: calc(100% - 25px);
  text-align: left;
  padding: 4px;
  padding-right: 0;
  height: fit-content;
  font-family: 'OpenSans-Light';
  font-size: medium;
  font-weight: bold;
  user-select: none;
  margin-left: 25px;
  margin-bottom: 0px;
}

#side-navigation .sub-topic:hover {
  color: white;
  cursor: pointer;
}

#side-navigation .sub-sub-topic {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  font-family: 'OpenSans-Light';
  font-size: medium;
  font-weight: normal;
  user-select: none;
  margin-left: 30px;
  margin-bottom: 8px;
}

#side-navigation .sub-sub-topic:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 35px;
  font-weight: bold;
}

#side-navigation-content {
  font-family: 'OpenSans';
  font-weight: normal;
  font-size: medium;
  width: calc(100% - 320px); /* f(x) = 100% - (navigation width + C) */
  min-width: calc(100% - 320px);
  float: right;
  margin-left: auto;
  position: relative;
}

#side-navigation-content-body {
  position: fixed;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 325px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left-style: solid;
  border-left-color: gray;
  border-left-width: 1px;
}

.info {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 25, 39, 0.2);
  border-radius: 5px;
  border-color: lightslategray;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  padding: 10px;
  font-family: 'OpenSans';
  margin-top: 10px;
  margin-bottom: 10px;
}

.warn {
  color: rgb(255, 255, 255);
  background-color: rgba(63, 57, 5, 0.20);
  border-radius: 5px;
  border-color: rgb(175, 158, 0);
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  padding: 10px;
  font-family: 'OpenSans';
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-result {
  margin-top: 40px;
}

.search-result a {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  text-decoration: none;
  transition: 250ms;
  
}

.search-result a:hover {
  transition: 250ms;
  cursor: pointer;
  transition: 250ms;
}

.search-predictions {
  display: inline-flex;
}

.search-predictions a {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  text-decoration: none;
  margin-left: 10px;
  transition: 250ms;
  
}

.search-predictions a:hover {
  transition: 250ms;
  cursor: pointer;
  transition: 250ms;
}

.marked-ul li:before {
  content: '✔';
  display: inline-flex;
  color: rgb(121, 145, 168);
  padding: 0px 6px 0px 0px;
  margin: 0px;
}

.marked-ul li {
  list-style-type: none;
  font-size: 1em;
  padding: 0px;
  margin: 0px;
}

.marked-ul li desc {
  color: silver;
  font-size: 19px;
  font-weight: bolder;
}

.link-card-section {
  user-select: none;
  justify-content: space-around;
}

.link-card-section a {
  text-decoration: none;
  user-select: none;
}

.link-card {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 300px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  user-select: none;
  border-radius: 5px;
  border-width: 2px;
  border-color: #5F7389;
  border-style: solid;
  transition: 200ms;
}

.link-card:hover {
  transition: 200ms;
  color: white;
  background-color: #5F7389;
}

.link-card-body {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: left;
  font-family: 'OpenSans';
}

.link-card-body * {
  text-align: left;
}

.arrow {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

a:hover {
  cursor: pointer;
}

.tabcontrol {
  width: 100%;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: #5F7389;
  border-bottom-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  user-select: none;
  color: lightgray;
  font-size: larger;
  font-weight: normal;
  display: inline-flex;
}

.tabcontrol .tab {
  transition: 250ms;
  margin-right: 40px;
}

.tabcontrol .tab.active {
  color: rgb(136, 163, 190);
}

.tabcontrol .tab:hover {
  transition: 250ms;
  cursor: pointer;
  color: rgb(136, 163, 190);
}

.tabcontrol-content {
  margin-top: 40px;
}

.dropdown {
	user-select: none;
	position: relative;
	display: inline-block;
}

.dropdown button {
  font-family: 'OpenSans';
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
}

.dropdown-content {
  margin-left: 2px;
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-color: #5F7389;
  border-style: solid;
  border-width: 1px;
}

.dropdown-content a {
  transition: 0.15s;
  cursor: pointer;
  color: white;
  font-family: 'OpenSans';
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 20px;
}

.dropdown-content a:hover {
  transition: 0.15s;
  color: white;
  background-color: #5F7389;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

li {
  margin-top: 10px;
  margin-bottom: 3px;
}
